[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
glpk = "*"
pyomo = "*"
pandas = "*"
numpy = "*"
sqlalchemy = "*"
cplex = "*"
pulp = "*"
xpress = "==8.13.2"

[dev-packages]

[requires]
python_version = "3.8"
